@import url(./variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

}

main {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.description {

    width: 100%;
    height: auto;
    min-height: 50%;
    padding-inline: 32%;
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 24px;

}

.description h1 {

    font-size: 4em;
    text-align: center;

}

.description p {

    text-align: center;
    font-size: 1.5em;
    text-indent: 1em;
    color: rgb(77, 77, 77);

}

.description button {

    width: 24%;
    min-height: 60px;
    border-radius: 12px;
    border: none;
    background-color: #252525;
    color: #fff;
    font-weight: 100;
    font-size: 1.1em;
    transition: .3s ease;

}

.description button:hover {

    width: 25%;
    height: 62px;
    background-color: #645c5c;
    transition: .3s ease;
    text-shadow: white 0px 0px 8px;


}

.gallery {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 4%;
    
}

.gallery div {

    background-color: transparent;
    margin: 1%;
    max-width: 20%;
    max-height: 16%;

}

.gallery div img {

    border-radius: 16px;
    max-width: 99%;
    max-height: 95%;
    object-fit: contain;
    box-shadow: 0px 0px 12px 0px rgb(167, 167, 167);
    transition: .3s ease;
    opacity: .85;

}

.gallery div img:hover {

    box-shadow: 0px 0px 16px 0px rgb(0, 0, 0);
    transition: .3s ease;
    max-width: 100%;
    border: none;
    opacity: 1;

}


@media (min-width: 200px) {

    .description {

        padding-inline: 12%;

    }

    .description h1 {

        font-size: 2.6em;
        text-align: center;

    }

    .description p {

        font-size: 1.2em;

    }

    .description button {

        width: 40%;

    }

    .gallery {

        padding-top: 16%;

    }

    .gallery div {

        background-color: transparent;
        margin: 1%;
        max-width: 80%;
        max-height: 16%;

    }

    .gallery div img {

        border-radius: 16px;
        max-width: 99%;
        max-height: 95%;
        object-fit: contain;
        box-shadow: 0px 0px 12px 0px rgb(167, 167, 167);
        transition: .3s ease;
        opacity: .85;

    }
    
}

@media (min-width: 500px) {

    .description {

        padding-inline: 12%;

    }

    .description h1 {

        font-size: 2.8em;
        text-align: center;

    }

    .description p {

        font-size: 1.2em;

    }

    .description button {

        width: 35%;

    }

    .gallery {

        padding-top: 12%;

    }

    .gallery div {

        background-color: transparent;
        margin: 1%;
        max-width: 80%;
        max-height: 16%;

    }

    .gallery div img {

        border-radius: 16px;
        max-width: 99%;
        max-height: 95%;
        object-fit: contain;
        box-shadow: 0px 0px 12px 0px rgb(167, 167, 167);
        transition: .3s ease;
        opacity: .85;

    }
    
}

@media (min-width: 700px) {

    .description {

        padding-inline: 16%;

    }

    .description h1 {

        font-size: 3.4em;
        text-align: center;

    }

    .description p {

        font-size: 1.3em;

    }

    .description button {

        width: 30%;

    }

    .gallery {

        padding-top: 8%;

    }

    .gallery div {

        background-color: transparent;
        margin: 1%;
        max-width: 40%;
        max-height: 16%;

    }

    .gallery div img {

        border-radius: 16px;
        max-width: 99%;
        max-height: 95%;
        object-fit: contain;
        box-shadow: 0px 0px 12px 0px rgb(167, 167, 167);
        transition: .3s ease;
        opacity: .85;

    }
    
}




@media (min-width: 1024px) {

    .description {

        padding-inline: 24%;

    }

    .description h1 {

        font-size: 3.6em;
        text-align: center;

    }

    .description p {

        font-size: 1.4em;

    }

    .description button {

        width: 20%;

    }

    .gallery {

        padding-top: 8%;

    }

    .gallery div {

        background-color: transparent;
        margin: 1%;
        max-width: 30%;
        max-height: 16%;

    }

    .gallery div img {

        border-radius: 16px;
        max-width: 99%;
        max-height: 95%;
        object-fit: contain;
        box-shadow: 0px 0px 12px 0px rgb(167, 167, 167);
        transition: .3s ease;
        opacity: .85;

    }
    
}

@media (min-width: 1600px) {

    .description {

        padding-inline: 32%;

    }

    .description h1 {

        font-size: 3.6em;
        text-align: center;

    }

    .description p {

        font-size: 1.4em;

    }

    .description button {

        width: 30%;

    }

    .gallery div {

        background-color: transparent;
        margin: 1%;
        max-width: 20%;
        max-height: 16%;

    }

    .gallery div img {

        border-radius: 16px;
        max-width: 99%;
        max-height: 95%;
        object-fit: contain;
        box-shadow: 0px 0px 12px 0px rgb(167, 167, 167);
        transition: .3s ease;
        opacity: .85;

    }
}