@import url(./variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

}

main {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.description {

    width: 100%;
    height: auto;
    min-height: 50%;
    padding-inline: 32%;
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 24px;

}

.description h1 {

    font-size: 4em;
    text-align: center;

}

.description p {

    text-align: center;
    font-size: 1.5em;
    text-indent: 1em;
    color: rgb(77, 77, 77);

}

.description button {

    width: 24%;
    height: 60px;
    border-radius: 12px;
    border: none;
    background-color: #252525;
    color: #fff;
    font-weight: 100;
    font-size: 1.1em;
    transition: .3s ease;

}

.description button:hover {

    width: 25%;
    height: 62px;
    background-color: #645c5c;
    transition: .3s ease;
    text-shadow: white 0px 0px 8px;


}